# Build
bin/
obj/

# VS / Rider
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# EF Core
*.db
*.sqlite

# Node (frontend)
node_modules/
dist/
build/

# Env
.env
.env.*.local

# Docker
*.pid
